
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Playfair+Display:700italic,400,700' rel='stylesheet' type='text/css'>
    
    <title>Vovadoors</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ekko-lightbox.js"></script>
    <script type="text/javascript">
      function preloader() {
        if (document.images) {
          for (var i = 1; i <= 24; i++) {
            var img = new Image();
            img.src = 'images/examples/d' + i + '.JPG';
          }
        }
      }
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
            func();
          }
        }
      }
      addLoadEvent(preloader);
    </script>

    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-ui-router.min.js"></script>
    <script src="/angular/angular-resource.min.js"></script>
    <script src="/angular/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    
    <script src="/angular/directives.js"></script>
    <script src="/angular/app.js"></script>
    <script src="/angular/controllers.js"></script>
    <script src="/angular/services.js"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>

  </head>

 <body ng-app="vovadoorsApp">
<div class="wrapper">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" ng-init="$root.isCollapsed = true">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="$root.isCollapsed = !$root.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vovadoors</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" uib-collapse="$root.isCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="tab" ng-click="$root.isCollapsed = true" ui-sref-active="selected-tab" ui-sref="main">Главная</a></li>
            <li><a class="tab" ng-click="$root.isCollapsed = true" ui-sref-active="selected-tab" ui-sref="examples">Примеры Работы</a></li>
            <li><a class="tab" ng-click="$root.isCollapsed = true" ui-sref-active="selected-tab" ui-sref="instruments">Инструменты</a></li>
            <li><a class="tab" ng-click="$root.isCollapsed = true" ui-sref-active="selected-tab" ui-sref="about">О Компании</a></li>
            <li></li>
          </ul>
        </div>
      </div>
    </nav>



        <div ui-view></div>

        <footer>
          Vovadoors.by
        </footer>
    </div> 
  </body>
</html>
