
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Установка дверей</h1>
        <h1>МТС: 8 029 558-28-26 Владимир</h1>
        <h1>Velcom: 8 044 494-64-43 Владимир</h1>        
        <p><a class="btn btn-danger btn-lg" href="https://docs.google.com/forms/d/1lJ9VgnFl9_QzRZyEAfLzK_Q86Glbx9ahZHWAff0DYY8/viewform?usp=send_form" target="_blank" role="button">Задать вопрос &raquo;</a></p>
      </div>
    </div>

    <div id="who-we-are">
      <div class="container homepage">
        <h2>Oб Услугах</h2>
        <hr>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-circle"></i>Установка межкомнатных дверей в Минске и Минской области</li>
          <li><i class="fa-li fa fa-check-circle"></i>Опыт работы более 15 лет</li>
          <li><i class="fa-li fa fa-check-circle"></i>Заключаем договор на оказание услуг</li>
          <li><i class="fa-li fa fa-check-circle"></i>Гарантийное обслуживание</li>
          <li><i class="fa-li fa fa-check-circle"></i>Монтаж одностворчатой двери - 600 000 бел. руб.</li>
          <li><i class="fa-li fa fa-check-circle"></i>Установка доборных элементов - 85 000 бел. руб.</li>
        </ul>            
      </div>
    </div>

    <div id="get-involved">
      <div class="container homepage">
        <div class="row">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Примеры работы</h3>
            <p class="page-descrip">Фотографии дверей, установленных мастером</p>
              <p><a class="btn btn-default" href="#/examples" role="button">Посмотреть &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Инструменты</h3>
              <p class="page-descrip">Для установки дверей мы используем современные инструменты: лазерный уровень для установки коробки; пылесос, подключаемый к инструменту, что снижает загрязняемость помоещения; пневмопистолет для закрепления наличника - места закрепления не видимы даже на белых наличниках; и др.</p>
              <p><a class="btn btn-default" href="#/instruments" role="button">Посмотреть &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
              </span>
              <h3>О компании</h3>
              <p class="page-descrip">Сертификат соответствия, выданный мастеру государственной организацией по контролю за качеством.</p>
              <p><a class="btn btn-default" href="#/about" role="button">Посмотреть &raquo;</a></p>
            </div>
          </div>
        </div>